.dot {
  display: block;
  margin-left: -10px;
  margin-top: -10px;
  /* height: 8px;
  background: green;
  border-radius: 50%;
  width: 8px; */
}

.hover-info {
  display: none;
}

.location:hover .hover-info {
  display: inline;
  z-index: 100000;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}
